.header-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .logo-container{
        img{
            width: 58px;
        }
        display: flex;
        align-items: center;
        gap: 14px;
        color: #303030;
        font-weight: bold;
    }
}
