.scan-container {
  font-family: AvenirNext forINTUIT;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
  text-align: center;
}

.store-icons img {
  padding: 2px;
}

.qr-code {
  padding: 5px;
}

.free-text {
  color: #1ce8cf;
  font-weight: bold;
}
