.box {
  width: 150px;
  padding: 0 10px;

  .spec-text {
    margin-top: 5px;
    font-family: AvenirNext forINTUIT;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
  }
}
