$next-font-bold-path: "/assets/fonts/avenir_font";
$next-font-bold: "AvenirNextforINTUIT-Bold";

$next-font-demi-path: "/assets/fonts/avenir_font";
$next-font-demi: "AvenirNextforINTUIT-Demi";

$next-font-medium-path: "/assets/fonts/avenir_font";
$next-font-medium: "AvenirNextforINTUIT-Medium";

$next-font-regular-path: "/assets/fonts/avenir_font";
$next-font-regular: "AvenirNextforINTUIT-Regular";

$next-font-thin-path: "/assets/fonts/avenir_font";
$next-font-thin: "AvenirNextforINTUIT-Thin";
