<div class="home-wrapper">
  <div class="home-container">
    <div class="hero-content">
      <h1 class="hero-heading">
        The Future
        <br>
        of Estimating
      </h1>
      <h6 class="hero-desc">
        Your time is money, and we respect that. Register your company, install our mobile app, or log in on our web portal.
      </h6>
      <div class="hero-controls">
        <button class="btn register-btn">
          Register
          <img src="assets/register-icon.svg">
        </button>
        <img src="assets/checked-icon.svg">
        <p>
          Your first estimate is free
        </p>
      </div>
    </div>
    <div class="image-section">
      <img src="assets/hero-image.png"
        alt="hero img">
    </div>
  </div>
  <div class="spces-container">
    <div>
      <p class="specs-desc">
        Estimates that save you time and
        <br>
        communication with the carrier
      </p>
      <div class="spec-icons">
        <spec-item desc="The most accurate and documented estimates in the industry"
          icon="assets/spec-1.svg"></spec-item>
        <spec-item desc="Representation of the full scope of the project"
          icon="assets/spec-2.svg"></spec-item>
        <spec-item desc="Time-saving estimates and communication with the carrier"
          icon="assets/spec-3.svg"></spec-item>
        <spec-item desc="Proper project valuation"
          icon="assets/spec-4.svg"></spec-item>
        <spec-item desc="Automated process management with our free app"
          icon="assets/spec-5.svg"></spec-item>
      </div>

    </div>
    <div>
      <scan-here></scan-here>
    </div>
  </div>
</div>
